<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IdleRGB.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <IdleRGB.Properties.Settings>
      <!--LEDs changes to idleColor after this amount of time of no activity.-->
      <setting name="idleTime" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <!--LEDs change to this color after an amount of no activity.-->
      <setting name="idleColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <!--Color when Caps Lock is activated.-->
      <setting name="capsColor" serializeAs="String">
        <value>255, 109, 63</value>
      </setting>
      <!--Color for Stop LED.-->
      <setting name="stopColor" serializeAs="String">
        <value>255, 17, 45</value>
      </setting>
      <!--Color for Previous LED.-->
      <setting name="prevColor" serializeAs="String">
        <value>55, 171, 255</value>
      </setting>
      <!--Color for Play/Pause LED.-->
      <setting name="playPauseColor" serializeAs="String">
        <value>0, 255, 126</value>
      </setting>
      <!--Color for Next LED.-->
      <setting name="nextColor" serializeAs="String">
        <value>55, 171, 255</value>
      </setting>
      <!--Color for Mute LED.-->
      <setting name="muteColor" serializeAs="String">
        <value>255, 174, 70</value>
      </setting>
    </IdleRGB.Properties.Settings>
  </userSettings>
</configuration>